
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<style>
div{
display: flex;
	justify-content: space-around;
	align-items: center;
}

</style>
<body>
    <form action="/create" method="post">
  <div class="mb-3">
    <label >tasks</label>
    <input type="text" name="tasks" >
    
  <div class="mb-3">
    <label >Password</label>
    <input type="text" name="Password">
  </div>
  <div class="mb-3 ">
   
  </div>
  <button type="sent" >sent</button>
</form>
</body>
</html>