
<div class="container">
  <h1>{{title}}</h1>
  <hr />
  <div class="row">
    <div class="col-md-6">
      <form action="/create" method="post">

          <div class="form-group">
              <input type="text" name="Bookname" class="form-control" placeholder="Book_name" />
          </div>

          <div class="form-group">
              <input type="text" name="AuthorName" class="form-control" placeholder="Author_Name" />
          </div>

          <div class="form-group">
              <input type="text" name="PublicationDate" class="form-control" placeholder="Publication_Date" />
          </div>

          <div class="form-group">
              <input type="text" name="RackNumber" class="form-control" placeholder="Rack_Number" />
          </div>
          
          <div class="form-group">
              <button class="btn btn-info"type="Save Product">Save Product</button>
          </div>
      </form>
    </div>
  </div>
</div>