<div class="max-w-7xl mx-auto sm:px-6 lg:px-8">
  <div class="bg-white overflow-hidden shadow-xl sm:rounded-lg mt-16 ">

    <table class="table-fixed w-full  ">
      <thead>
        <tr class="bg-green-500 ">
          <th class="w-20 py-4 text-center">ID</th>
          <th class="w-1/2 py-4 text-center">Title</th>
          <th class="w-1/16 py-4 text-center">created</th>
          <th class="w-1/16 py-4 text-center">updated</th>
          <th class="w-28 py-4 text-center">Actions</th>
        </tr>
      </thead>
      <tbody>
      {{#each tasks}}
     
      
        <tr>
          <td class="py-3 px-6">{{this.id}}</td>
          <td class="p-3">{{this.title}}</td>
          <td class="p-3 text-center">12-3-11 12:40:43</td>
          <td class="p-3 text-center">12-15-46 12:40:43</td>
          <td class="p-3 text-center">2314 12:40:43</td>
          <td class="p-3 ">
            
              <button class="bg-red-500  px-3 py-1 rounded-sm">
               delet
                </button>
                <button class="bg-red-500  px-3 py-1 rounded-sm" >
              rr
                </button>
             
          </td>
        </tr>
        {{/each}}
      </tbody>
    </table>
  </div>
</div>